body{

margin:0;

background:#111;

color:white;

font-family:Inter,sans-serif;

}

nav{

height:70px;

display:flex;

align-items:center;

justify-content:space-between;

padding:0 30px;

background:#1b1b1b;

border-bottom:1px solid #333;

}

button{

padding:10px 18px;

border:none;

border-radius:10px;

background:#00bfff;

color:white;

cursor:pointer;

font-size:16px;

}

button:hover{

transform:scale(1.05);

}

#container{

display:flex;

height:calc(100vh - 70px);

}

#lessonList{

width:320px;

background:#181818;

overflow:auto;

border-right:1px solid #333;

padding:20px;

}

.lesson{

padding:15px;

margin-bottom:10px;

background:#222;

border-radius:10px;

cursor:pointer;

transition:.2s;

}

.lesson:hover{

background:#333;

}

#lessonContent{

flex:1;

padding:40px;

overflow:auto;

}

code{

display:block;

background:#222;

padding:15px;

border-radius:10px;

margin:20px 0;

white-space:pre-wrap;

font-size:17px;

}